<h1>Edit Appointment</h1>

<form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <input matInput type="date" formControlName="startDate"
            placeholder="Start Date" required/>
        <div *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)" 
            class="validation-error">
            Invalid date
        </div>
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" formControlName="facility"
            placeholder="Facility Name" required>
        <div *ngIf="facility.invalid && (facility.dirty || facility.touched)"
            class="validation-error">
            <div *ngIf="facility.errors.required">
                Facility is required.
            </div>
            <div *ngIf="facility.errors.minlength">
                Facility must be at least 3 characters long.
            </div>
        </div>
    </mat-form-field>

    <mat-radio-group formControlName="appointmentType" required>
        <mat-radio-button value="{{biopsyTypeEnum.FineNeedleAspiration}}">
            {{biopsyTypeEnum.FineNeedleAspiration}}
        </mat-radio-button>
        <mat-radio-button value="{{biopsyTypeEnum.CoreNeedleBiopsy}}">
            {{biopsyTypeEnum.CoreNeedleBiopsy}}
        </mat-radio-button>
        <mat-radio-button value="{{biopsyTypeEnum.Other}}">
            {{biopsyTypeEnum.Other}}
        </mat-radio-button>
        <mat-radio-button value="{{surgeryTypeEnum.Lumpectomy}}">
            {{surgeryTypeEnum.Lumpectomy}}
        </mat-radio-button>
        <mat-radio-button value="{{surgeryTypeEnum.ModifiedRadicalMastectomy}}">
            {{surgeryTypeEnum.ModifiedRadicalMastectomy}}
        </mat-radio-button>
        <mat-radio-button value="{{surgeryTypeEnum.Other}}">
            {{surgeryTypeEnum.Other}}
        </mat-radio-button>
    </mat-radio-group>

    <mat-form-field>
        <input matInput type="text" formControlName="appointmentTypeOther"
        placeholder="Other">
        <div *ngIf="(appointmentType.value == surgeryTypeEnum.Other
        || appointmentType.value == biopsyTypeEnum.Other)
        && !appointmentTypeOther.value
        && (appointmentTypeOther.dirty || appointmentTypeOther.touched)" 
        class="validation-error">
            Enter appointment type (Other)
        </div>
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" formControlName="contactPerson"
            placeholder="Contact Person" required>
        <div *ngIf="contactPerson.invalid && (contactPerson.dirty || contactPerson.touched)"
            class="validation-error">
            <div *ngIf="contactPerson.errors.required">
                Contact Person is required.
            </div>
            <div *ngIf="contactPerson.errors.minlength">
                Contact Person must be at least 3 characters long.
            </div>
        </div>
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" formControlName="providerName"
            placeholder="Provider Name"/>
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" formControlName="providerType"
            placeholder="Provider Type"/>
    </mat-form-field>

    <div>
        <button mat-raised-button color="primary" type="submit" 
            [disabled]="!appointmentForm.valid">Submit</button>
        <button mat-button type="button" (click)="onCancel()">Cancel</button>        
    </div>
</form>

<ng-template #dialogRef>
    Is this correct?
    <app-view-appointment-template [appointment]="this.appointmentForm.value"
        [isEmbedded]="true">
    </app-view-appointment-template>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial
            (click)="onConfirm()" color="primary">Confirm</button>
    </mat-dialog-actions>
</ng-template>