<h1>Edit Appointment</h1>

<div style="color: red; padding: 15px" *ngIf="errors">
    <div *ngFor="let error of errors">
        {{error.field}}: {{error.message}}
    </div>
</div>

<form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <input matInput type="date" formControlName="startDate"
            placeholder="Start Date" required/>
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" formControlName="facility"
            placeholder="Facility Name" required/>
    </mat-form-field>

    <mat-radio-group formControlName="appointmentType" required>
        <mat-radio-button value="{{biopsyTypeEnum.FineNeedleAspiration}}">
            {{biopsyTypeEnum.FineNeedleAspiration}}
        </mat-radio-button>
        <mat-radio-button value="{{biopsyTypeEnum.CoreNeedleBiopsy}}">
            {{biopsyTypeEnum.CoreNeedleBiopsy}}
        </mat-radio-button>
        <mat-radio-button value="{{biopsyTypeEnum.IncisionalBiopsy}}">
            {{biopsyTypeEnum.IncisionalBiopsy}}
        </mat-radio-button>
        <mat-radio-button value="{{biopsyTypeEnum.ExcisionalBiopsy}}">
            {{biopsyTypeEnum.ExcisionalBiopsy}}
        </mat-radio-button>
        <mat-radio-button value="{{surgeryTypeEnum.Lumpectomy}}">
            {{surgeryTypeEnum.Lumpectomy}}
        </mat-radio-button>
        <mat-radio-button value="{{surgeryTypeEnum.ModifiedRadicalMastectomy}}">
            {{surgeryTypeEnum.ModifiedRadicalMastectomy}}
        </mat-radio-button>
    </mat-radio-group>

    <mat-form-field>
        <input matInput type="text" formControlName="contactPerson"
            placeholder="Contact Person" required/>
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" formControlName="providerName"
            placeholder="Provider Name"/>
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" formControlName="providerType"
            placeholder="Provider Type"/>
    </mat-form-field>

    <div>
        <button mat-raised-button color="primary" type="submit" 
            [disabled]="!appointmentForm.valid">Submit</button>
        <button mat-button type="button" (click)="onCancel()">Cancel</button>
    </div>
</form>