<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>{{appTitle}}</span>
        <span class="example-fill-remaining-space"></span>
        <span>{{subTitle}}</span>
        <span class="example-fill-remaining-space"></span>
        
        <div *ngIf="selectedPatient != null; else listBlockMenu">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>add</mat-icon>
            </button>
            <mat-menu #menu>
                <button mat-menu-item 
                    routerLink="/patients/{{selectedPatient.id}}/appointments/new">
                    Appointment</button>
                <!-- <button mat-menu-item 
                    routerLink="/patients/{{selectedPatient.id}}/biopsies/new">
                    Biopsy Report</button>
                <button mat-menu-item 
                    routerLink="/patients/{{selectedPatient.id}}/surgical_pathologies/new">
                    Surgical Pathology Report</button> -->
            </mat-menu>
        </div>
        <ng-template #listBlockMenu>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>add</mat-icon>
            </button>
            <mat-menu #menu>
                <button mat-menu-item routerLink="/patients/new">Patient</button>
            </mat-menu>
        </ng-template>

        <a href="https://github.com/dsurrao/oncdeckredux/wiki" 
                target="_blank"
                style="color: inherit">
            <button mat-icon-button> 
                <mat-icon>help</mat-icon>
            </button>
        </a>
    </mat-toolbar>

    <!--determine which side nav menu to show depending on context-->
    <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <div *ngIf="selectedPatient != null; else listBlock">
                <app-patient-sidenav-template [patientId]="selectedPatient.id">
                </app-patient-sidenav-template>
            </div>        
            <ng-template #listBlock>
                <app-search-criteria-template 
                    [searchCriteria]="searchCriteria"
                    (onSaveSearchCriteria)="saveSearchCriteria($event)">
                </app-search-criteria-template>
            </ng-template>
        </mat-sidenav>

        <mat-sidenav-content class="oncdeck_body">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>

</div>