<div>
    <h1>
        {{patient.firstName}} {{patient.middleName}} 
        {{patient.lastName}}
        <mat-icon aria-hidden="false" aria-label="Add patient" 
            routerLink="/patients/{{patient.id}}/edit">edit</mat-icon>
    </h1>
    <h2>{{patient.dateOfBirth}}, {{patient.gender}}</h2>

    <h2>Biopsies</h2>
    <mat-action-list>
        <mat-list-item *ngFor="let biopsy of biopsies">
            <a matLine routerLink="/patients/{{patient.id}}/biopsies/{{biopsy.id}}">
                {{biopsy.facilityName}},
                {{biopsy.providerName}},
                {{biopsy.dateScheduled}}
            </a>
         </mat-list-item>
    </mat-action-list>

    <a routerLink="/patients/{{patient.id}}/biopsies/new">Add Biopsy</a>
</div>