<div>
    <h1>
        {{patient.firstName}} {{patient.middleName}} 
        {{patient.lastName}}
        <mat-icon aria-hidden="false" aria-label="Add patient" 
            routerLink="/patients/{{patient.id}}/edit">edit</mat-icon>
    </h1>
    <h2>{{patient.dateOfBirth}}, {{patient.gender}}</h2>

    <h2>Appointments</h2>
    <mat-action-list>
        <mat-list-item *ngFor="let appointment of appointments">
            <a matLine routerLink="/patients/{{patient.id}}/appointments/{{appointment.id}}">
                {{appointment.facility}},
                {{appointment.providerName}},
                {{appointment.startDate}}
            </a>
         </mat-list-item>
    </mat-action-list>

    <h2>Biopsies</h2>
    <mat-action-list>
        <mat-list-item *ngFor="let biopsy of biopsies">
            <a matLine routerLink="/patients/{{patient.id}}/biopsies/{{biopsy.id}}">
                {{biopsy.site.site}},
                {{biopsy.procedureDate}}
            </a>
         </mat-list-item>
    </mat-action-list>

    <h2>Surgical Pathologies</h2>
    <mat-action-list>
        <mat-list-item *ngFor="let surgicalPathology of surgicalPathologies">
            <a matLine routerLink=
                "/patients/{{patient.id}}/surgical_pathologies/{{surgicalPathology.id}}">
                {{surgicalPathology.surgeryType}},
                {{surgicalPathology.reportDate}}
            </a>
         </mat-list-item>
    </mat-action-list>

    <h2>Procedures</h2>
    <mat-action-list>
        <mat-list-item *ngFor="let procedure of procedures">
            <a matLine routerLink="/patients/{{patient.id}}/procedures/{{procedure.id}}">
                {{procedure.id}},
                {{procedure.status}}
            </a>
         </mat-list-item>
    </mat-action-list>

    <a routerLink="/patients/{{patient.id}}/appointments/new">Add Appointment</a>
    <br/>
    <a routerLink="/patients/{{patient.id}}/procedures/new">Add Procedure</a>
    <br/>
    <a routerLink="/patients/{{patient.id}}/biopsies/new">Add Biopsy Report</a>
    <br/>
    <a routerLink="/patients/{{patient.id}}/surgical_pathologies/new">
        Add Surgical Pathology Report
    </a>
</div>