<div style="display: flex;">
    <h1>Biopsies</h1>
    <span class="example-fill-remaining-space"></span>
    <mat-icon aria-hidden="false" aria-label="Add biopsy"
        routerLink="edit_biopsy">add</mat-icon>
</div>
    
<table mat-table [dataSource]="patient.biopsies" class="mat-elevation-z8">
    <ng-container matColumnDef="dateScheduled">
        <th mat-header-cell *matHeaderCellDef> Date Scheduled </th>
        <td mat-cell *matCellDef="let biopsy"> {{biopsy.dateScheduled}} </td>
    </ng-container>
    <ng-container matColumnDef="facilityName">
        <th mat-header-cell *matHeaderCellDef> Facility Name </th>
        <td mat-cell *matCellDef="let biopsy"> {{biopsy.facilityName}} </td>
    </ng-container>
    <ng-container matColumnDef="providerName">
        <th mat-header-cell *matHeaderCellDef> Provider Name </th>
        <td mat-cell *matCellDef="let biopsy"> {{biopsy.providerName}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>    
