id: {{surgicalPathology.id}}<br/>
procedureId: {{surgicalPathology.procedureId}}<br/>
reportDate: {{surgicalPathology.reportDate}}<br/>

surgeryType: {{surgicalPathology.surgeryType.type}}<br/>
surgeryTypeOther: {{surgicalPathology.surgeryType.typeOther}}<br/>

lymphNodeDissectionType: {{surgicalPathology.lymphNodeDissectionType}}<br/>

histology: {{surgicalPathology.histology.histology}}<br/>
histologyOther: {{surgicalPathology.histology.histologyOther}}<br/>

er receptor status: {{surgicalPathology.receptors.erReceptor.status}}<br/>
er receptor strength: {{surgicalPathology.receptors.erReceptor.strength}}<br/>
pr receptor status: {{surgicalPathology.receptors.prReceptor.status}}<br/>
pr receptor strength: {{surgicalPathology.receptors.prReceptor.strength}}<br/>
her2 receptor status: {{surgicalPathology.receptors.her2Receptor.status}}<br/>
her2 receptor test: {{surgicalPathology.receptors.her2Receptor.test}}<br/>

grade: {{surgicalPathology.features.grade}}<br/>
lvi: {{surgicalPathology.features.lvi}}<br/>

surgicalMargins: {{surgicalPathology.surgicalMargins}}<br/>