<table class="{{tableClass}}">
    <tbody>
        <tr *ngIf="surgicalPathology?.reportDate">
            <td class="{{columnClass}}">Report Date</td>
            <td>
                {{surgicalPathology?.reportDate}}
            </td>
        </tr>
        <tr>
            <td class="{{columnClass}}">Status</td>
            <td>
                <div [ngSwitch]="isEmbedded">
                    <span *ngSwitchCase="true">
                        <a routerLink="/patients/{{patientId}}/surgical_pathologies/{{surgicalPathology.id}}">
                            {{surgicalPathology?.status}}
                        </a>
                    </span>
                    <span *ngSwitchCaseDefault>
                        {{surgicalPathology?.status}}
                    </span>
                </div>
            </td>
        </tr>
        <tr *ngIf="surgicalPathology?.statusReason">
            <td class="{{columnClass}}">Status Reason</td>
            <td>{{surgicalPathology?.statusReason}}</td>
        </tr>
        <tr *ngIf="surgicalPathology?.lymphNodeDissectionType">
            <td class="{{columnClass}}">Lymph Node Dissection Type</td>
            <td>{{surgicalPathology?.lymphNodeDissectionType}}</td>
        </tr>
        <tr *ngIf="surgicalPathology?.histology.histology">
            <td class="{{columnClass}}">Histology</td>
            <td>{{surgicalPathology?.histology.histology}}</td>
        </tr>
        <tr *ngIf="surgicalPathology?.histology.histologyOther">
            <td class="{{columnClass}}">Histology (Other)</td>
            <td>{{surgicalPathology?.histology.histologyOther}}</td>
        </tr>
        <tr *ngIf="surgicalPathology?.receptors.erReceptor.status">
            <td class="{{columnClass}}">ER Receptor</td>
            <td>
                {{surgicalPathology?.receptors.erReceptor.status}}, 
                {{surgicalPathology?.receptors.erReceptor.strength}}
            </td>
        </tr>
        <tr *ngIf="surgicalPathology?.receptors.prReceptor.status">
            <td class="{{columnClass}}">PR Receptor</td>
            <td>
                {{surgicalPathology?.receptors.prReceptor.status}}, 
                {{surgicalPathology?.receptors.prReceptor.strength}}
            </td>
        </tr>
        <tr *ngIf="surgicalPathology?.receptors.her2Receptor.status">
            <td class="{{columnClass}}">HER2 Receptor</td>
            <td>
                {{surgicalPathology?.receptors.her2Receptor.status}}, 
                {{surgicalPathology?.receptors.her2Receptor.test}}
            </td>
        </tr>
        <tr *ngIf="surgicalPathology?.features.grade">
            <td class="{{columnClass}}">Grade</td>
            <td>{{surgicalPathology?.features.grade}}</td>
        </tr>
        <tr *ngIf="surgicalPathology?.features.lvi">
            <td class="{{columnClass}}">LVI</td>
            <td>{{surgicalPathology?.features.lvi}}</td>
        </tr>
        <tr *ngIf="surgicalPathology?.features.surgicalMargins">
            <td class="{{columnClass}}">Surgical Margins</td>
            <td>{{surgicalPathology?.surgicalMargins}}</td>
        </tr>
    </tbody>
</table>
