<table class="{{tableClass}}">
    <tbody>
        <tr *ngIf="biopsy?.pathologyReportDate">
            <td class="{{columnClass}}">Pathology Report Date</td>
            <td>
                {{biopsy?.pathologyReportDate}}
            </td>
        </tr>
        <tr>
            <td class="{{columnClass}}">Status</td>
            <td>
                <div [ngSwitch]="isEmbedded">
                    <span *ngSwitchCase="true">
                        <a routerLink="/patients/{{patientId}}/biopsies/{{biopsy.id}}">
                            {{biopsy?.status}}
                        </a>
                    </span>
                    <span *ngSwitchCaseDefault>
                        {{biopsy?.status}}
                    </span>
                </div>
                
            </td>
        </tr>
        <tr *ngIf="biopsy?.statusReason">
            <td class="{{columnClass}}">Status Reason</td>
            <td>{{biopsy?.statusReason}}</td>
        </tr>
        <tr *ngIf="biopsy?.site != null && biopsy?.site.site != null">
            <td class="{{columnClass}}">Site</td>
            <td>
                <div>
                    {{biopsy?.site.site}}
                    <span *ngIf="biopsy?.site.siteOther != null">
                        , {{biopsy?.site.siteOther}}
                    </span>
                </div>
                <div *ngIf="biopsy?.site.side != null">Side: {{biopsy?.site.side}}</div>
                <div *ngIf="biopsy?.site.lymphNodeLocation != null">
                    Lymph Node: {{biopsy?.site.lymphNodeLocation}}
                    <span *ngIf="biopsy?.site.lymphNodeLocation != null">
                        , {{biopsy?.site.lymphNodeLocationOther}}
                    </span>
                </div>
                <div *ngIf="biopsy?.site.bone != null">Bone: {{biopsy?.site.bone}}</div>
            </td>
        </tr>
        <tr *ngIf="biopsy?.histology != null && biopsy?.histology.histology != null">
            <td class="{{columnClass}}">Histology</td>
            <td>{{biopsy?.histology.histology}}
                <span *ngIf="biopsy?.histology.histologyOther != null">
                    , {{biopsy?.histology.histologyOther}}
                </span>
            </td>
        </tr>
        <tr *ngIf="biopsy?.receptors">
            <td class="{{columnClass}}">Receptors</td>
            <td>
                <div *ngIf="biopsy?.receptors.erReceptor.status">
                    ER: {{biopsy?.receptors.erReceptor.status}}
                    <span *ngIf="biopsy?.receptors.erReceptor.strength"> 
                        , {{biopsy?.receptors.erReceptor.strength}}
                    </span>
                </div>
                <div *ngIf="biopsy?.receptors.prReceptor.status">
                    PR: {{biopsy?.receptors.prReceptor.status}}, 
                    <span *ngIf="biopsy?.receptors.prReceptor.strength"> 
                        , {{biopsy?.receptors.prReceptor.strength}}
                    </span>
                </div>
                <div *ngIf="biopsy?.receptors.her2Receptor.status">
                    HER2: {{biopsy?.receptors.her2Receptor.status}}, 
                    {{biopsy?.receptors.her2Receptor.test}}
                </div>
            </td>
        </tr>
        <tr *ngIf="biopsy?.features && biopsy?.features.grade">
            <td class="{{columnClass}}">Features</td>
            <td>
                <div>Grade: {{biopsy?.features.grade}}</div>
                <div>LVI: {{biopsy?.features.lvi}}</div>
            </td>
        </tr>
    </tbody>
</table>
