<mat-toolbar class="mat-toolbar">
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>{{title}}</span>
        <span class="example-fill-remaining-space"></span>
        <span *ngIf="patientId != null">{{patientFullName}}</span>
        <span class="example-fill-remaining-space"></span>
    </mat-toolbar>
</mat-toolbar>

<mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'">
        <!-- patient specific menu-->
        <mat-nav-list *ngIf="patientId != null; else listBlock">
            <a mat-list-item routerLink="/patient/{{patientId}}/view_patient">Summary</a>
            <a mat-list-item routerLink="/patient/{{patientId}}/biopsy">Biopsies</a>
            <a mat-list-item routerLink="/">Back To Patient List</a>
        </mat-nav-list>

        <!-- patient list menu -->
        <ng-template #listBlock>
            <app-search-criteria></app-search-criteria>
        </ng-template>        
    </mat-sidenav>

    <mat-sidenav-content class="oncdeck_body">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>