<h1>Edit Procedure</h1>

<form [formGroup]="procedureForm" (ngSubmit)="onSubmit()">
    <mat-radio-group formControlName="procedureType">
        <mat-radio-button value="{{biopsyTypeEnum.FineNeedleAspiration}}">
            {{biopsyTypeEnum.FineNeedleAspiration}}
        </mat-radio-button>
        <mat-radio-button value="{{biopsyTypeEnum.CoreNeedleBiopsy}}">
            {{biopsyTypeEnum.CoreNeedleBiopsy}}
        </mat-radio-button>
        <mat-radio-button value="{{biopsyTypeEnum.IncisionalBiopsy}}">
            {{biopsyTypeEnum.IncisionalBiopsy}}
        </mat-radio-button>
        <mat-radio-button value="{{biopsyTypeEnum.ExcisionalBiopsy}}">
            {{biopsyTypeEnum.ExcisionalBiopsy}}
        </mat-radio-button>
        <mat-radio-button value="{{surgeryTypeEnum.Lumpectomy}}">
            {{surgeryTypeEnum.Lumpectomy}}
        </mat-radio-button>
        <mat-radio-button value="{{surgeryTypeEnum.ModifiedRadicalMastectomy}}">
            {{surgeryTypeEnum.ModifiedRadicalMastectomy}}
        </mat-radio-button>
    </mat-radio-group>

    <mat-radio-group formControlName="status">
        <mat-radio-button value="{{procedureStatusEnum.NotDone}}">
            {{procedureStatusEnum.NotDone}}
        </mat-radio-button>
        <mat-radio-button value="{{procedureStatusEnum.Completed}}">
            {{procedureStatusEnum.Completed}}
        </mat-radio-button>
    </mat-radio-group>

    <mat-form-field>
        <input matInput type="statusReason" formControlName="statusReason"
            placeholder="Status Reason"/>
    </mat-form-field>

    <div>
        <button mat-button type="submit">Submit</button>
        <button mat-button type="button">Cancel</button>
    </div>
</form>