/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-size: larger;}
table { width: 100%; font-size: larger; }

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
        Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
 }

 .oncdeck_center {
    text-align: center;
}

.oncdeck_body {
    padding-top: 10px;
    padding-left: 10px;
}

.patient-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.patient-full-width {
    width: 100%;
}

.full-width {
    width: 100%;
}

.spacer {
    height: 20px;
}

mat-radio-button {
    display: block !important;
    padding: 7px;
}

.showInline {
    display: inline;
}

.hide {
    display: none;
}

td.title {
    text-align: end; width: 50%; font-weight: bold;
}

.center-all {
    display: flex; justify-content: center
}

.validation-error {
    color: red;
}