<h1>Surgical Pathology Report</h1>

<form [formGroup]="surgicalPathologyForm" (ngSubmit)="onSubmit()">
    <div *ngIf="validationErrors && 
        (surgicalPathologyForm.dirty || surgicalPathologyForm.touched)" 
        class="validation-error">
        {{validationErrors}}
    </div>

    <mat-vertical-stepper>
        <mat-step label="Scheduling">
            <mat-radio-group formControlName="status" required>
                <mat-radio-button value="{{procedureStatusEnum.Completed}}">
                    {{procedureStatusEnum.Completed}}
                </mat-radio-button>
                <mat-radio-button value="{{procedureStatusEnum.NotDone}}">
                    {{procedureStatusEnum.NotDone}}
                </mat-radio-button>
            </mat-radio-group>

            <div class="spacer"></div>

            <mat-form-field>
                <input matInput type="text" formControlName="statusReason"
                    placeholder="Status Reason"/>
            </mat-form-field>

            <div class="spacer"></div>

            <mat-form-field>
                <input matInput type="date" formControlName="reportDate"
                    placeholder="Report Date"/>
            </mat-form-field>

            <div class="spacer"></div>
            
            <mat-form-field>
                <input matInput type="text" formControlName="lymphNodeDissectionType" 
                    placeholder="Lymph Node Dissection Type"/>
            </mat-form-field>

            <div>
                <button mat-button matStepperNext type="button">Next</button>
            </div>
        </mat-step>

        <mat-step label="Histology">
            <div formGroupName="histology">
                <mat-radio-group formControlName="histology">
                    <mat-radio-button value="{{histologyEnum.InvasiveDuctalCarcinoma}}" >
                        {{histologyEnum.InvasiveDuctalCarcinoma}}
                    </mat-radio-button>
                    <mat-radio-button value="{{histologyEnum.InvasiveLobularCarcinoma}}" >
                        {{histologyEnum.InvasiveLobularCarcinoma}}
                    </mat-radio-button>
                    <mat-radio-button value="{{histologyEnum.DuctalCarcinomaInSitu}}" >
                        {{histologyEnum.DuctalCarcinomaInSitu}}
                    </mat-radio-button>
                    <mat-radio-button value="{{histologyEnum.LobularCarcinomaInSitu}}" >
                        {{histologyEnum.LobularCarcinomaInSitu}}
                    </mat-radio-button>
                    <mat-radio-button value="{{histologyEnum.Other}}" >
                        {{histologyEnum.Other}}
                    </mat-radio-button>
                </mat-radio-group>
                <mat-form-field>
                    <input matInput type="text" placeholder="Histology (Other)" 
                        formControlName="histologyOther"/>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious type="button">Back</button>
                    <button mat-button matStepperNext type="button">Next</button>
                </div>
            </div>
        </mat-step>

        <mat-step label="ER Receptor">
            <div formGroupName="receptors">
                <div formGroupName="erReceptor">
                    <mat-radio-group formControlName="status" aria-label="Estrogen Receptor">
                        <mat-radio-button value="{{receptorStatusEnum.Positive}}" >
                            ER+
                        </mat-radio-button>
                        <mat-radio-button value="{{receptorStatusEnum.Negative}}" >
                            ER-
                        </mat-radio-button>
                        <mat-radio-button value="{{receptorStatusEnum.Unknown}}" >
                            {{receptorStatusEnum.Unknown}}
                        </mat-radio-button>
                    </mat-radio-group>

                    <div class="spacer"></div>

                    <mat-radio-group formControlName="strength"  aria-label="ER strength">
                        <mat-radio-button value="{{receptorStrengthEnum.Strong}}" >
                            {{receptorStrengthEnum.Strong}}
                        </mat-radio-button>
                        <mat-radio-button value="{{receptorStrengthEnum.Moderate}}" >
                            {{receptorStrengthEnum.Moderate}}
                        </mat-radio-button>
                        <mat-radio-button value="{{receptorStrengthEnum.Weak}}" >
                            {{receptorStrengthEnum.Weak}}
                        </mat-radio-button>
                    </mat-radio-group>

                    <div>
                        <button mat-button matStepperPrevious type="button">Back</button>
                        <button mat-button matStepperNext type="button">Next</button>
                    </div>
                </div>
            </div>
        </mat-step>

        <mat-step label="PR Receptor">
            <div formGroupName="receptors">
                <div formGroupName="prReceptor">
                    <mat-radio-group formControlName="status" 
                        aria-label="Progesterone Receptor">
                        <mat-radio-button value="{{receptorStatusEnum.Positive}}" >
                            PR+
                        </mat-radio-button>
                        <mat-radio-button value="{{receptorStatusEnum.Negative}}" >
                            PR-
                        </mat-radio-button>
                        <mat-radio-button value="{{receptorStatusEnum.Unknown}}" >
                            {{receptorStatusEnum.Unknown}}
                        </mat-radio-button>
                    </mat-radio-group>

                    <div class="spacer"></div>

                    <mat-radio-group formControlName="strength" 
                        aria-label="PR strength">
                        <mat-radio-button value="{{receptorStrengthEnum.Strong}}" >
                            {{receptorStrengthEnum.Strong}}
                        </mat-radio-button>
                        <mat-radio-button value="{{receptorStrengthEnum.Moderate}}" >
                            {{receptorStrengthEnum.Moderate}}
                        </mat-radio-button>
                        <mat-radio-button value="{{receptorStrengthEnum.Weak}}" >
                            {{receptorStrengthEnum.Weak}}
                        </mat-radio-button>
                    </mat-radio-group>

                    <div>
                        <button mat-button matStepperPrevious type="button">Back</button>
                        <button mat-button matStepperNext type="button">Next</button>
                    </div>
                </div>
            </div>
        </mat-step>

        <mat-step label="HER2 Receptor">
            <div formGroupName="receptors">
                <div formGroupName="her2Receptor">
                    <mat-radio-group formControlName="status" 
                        aria-label="Human Endothelial Growth Receptor 2">
                        <mat-radio-button value="{{receptorStatusEnum.Positive}}" >
                            HER2+
                        </mat-radio-button>
                        <mat-radio-button value="{{receptorStatusEnum.Negative}}" >
                            HER2-
                        </mat-radio-button>
                        <mat-radio-button value="{{receptorStatusEnum.Unknown}}" >
                            {{receptorStatusEnum.Unknown}}
                        </mat-radio-button>
                    </mat-radio-group>

                    <div class="spacer"></div>

                    <mat-radio-group formControlName="test" 
                        aria-label="Human Endothelial Growth Receptor 2">
                        <mat-radio-button value="{{her2TestEnum.IHC}}" >
                            {{her2TestEnum.IHC}}
                        </mat-radio-button>
                        <mat-radio-button value="{{her2TestEnum.FISH}}">
                            {{her2TestEnum.FISH}}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>

                <div>
                    <button mat-button matStepperPrevious type="button">Back</button>
                    <button mat-button matStepperNext type="button">Next</button>
                </div>
            </div>
        </mat-step>

        <mat-step label="Grade">
            <div formGroupName="features">
                <mat-radio-group aria-label="Grade"  formControlName="grade">
                    <mat-radio-button value="{{gradeEnum.Grade1}}">
                        {{gradeEnum.Grade1}}
                    </mat-radio-button>
                    <mat-radio-button value="{{gradeEnum.Grade2}}">
                        {{gradeEnum.Grade2}}
                    </mat-radio-button>
                    <mat-radio-button value="{{gradeEnum.Grade3}}">
                        {{gradeEnum.Grade3}}
                    </mat-radio-button>
                    <mat-radio-button value="{{gradeEnum.UnableToGrade}}">
                        {{gradeEnum.UnableToGrade}}
                    </mat-radio-button>
                    <mat-radio-button value="{{gradeEnum.NoGradeGiven}}" >
                        {{gradeEnum.NoGradeGiven}}
                    </mat-radio-button>
                </mat-radio-group>

                <div>
                    <button mat-button matStepperPrevious type="button">Back</button>
                    <button mat-button matStepperNext type="button">Next</button>
                </div>
            </div>
        </mat-step>

        <mat-step label="LVI">
            <div formGroupName="features">
                <mat-radio-group aria-label="LVI" formControlName="lvi">
                    <mat-radio-button value="{{lviStatusEnum.Positive}}" >
                        {{lviStatusEnum.Positive}}
                    </mat-radio-button>
                    <mat-radio-button value="{{lviStatusEnum.Negative}}" >
                        {{lviStatusEnum.Negative}}
                    </mat-radio-button>
                    <mat-radio-button value="{{lviStatusEnum.NotDetermined}}" >
                        {{lviStatusEnum.NotDetermined}}
                    </mat-radio-button>
                </mat-radio-group>
                <div>
                    <button mat-button matStepperPrevious type="button">Back</button>
                    <button mat-button matStepperNext type="button">Next</button>
                </div>
            </div>
        </mat-step>

        <mat-step label="Surgical Margins">
            <!-- todo: add sides <div formGroupName="surgicalMargins"> -->
                <mat-radio-group formControlName="surgicalMargins">
                    <mat-radio-button value="{{surgicalMarginsEnum.Negative}}">
                        {{surgicalMarginsEnum.Negative}}
                    </mat-radio-button>
                    <mat-radio-button value="{{surgicalMarginsEnum.FocallyPositive}}">
                        {{surgicalMarginsEnum.FocallyPositive}}
                    </mat-radio-button>
                    <mat-radio-button value="{{surgicalMarginsEnum.BroadlyPositive}}">
                        {{surgicalMarginsEnum.BroadlyPositive}}
                    </mat-radio-button>
                </mat-radio-group>
                
                <!-- <mat-radio-group formControlName="side">
                    <mat-radio-button value="Left" >
                        Left
                    </mat-radio-button>
                    <mat-radio-button value="Rigth" >
                        Right
                    </mat-radio-button>
                </mat-radio-group> -->
                <div>
                    <button mat-button matStepperPrevious type="button">Back</button>
                    <button mat-button matStepperNext type="button">Next</button>
                </div>
            <!-- </div> -->
        </mat-step>

        <mat-step label="Done">
            <div>
                <button mat-raised-button color="primary" type="submit"
                    [disabled]="!surgicalPathologyForm.valid">
                    Submit
                </button>
                <button mat-button type="reset">Reset</button>
                <button mat-button type="button" (click)="onCancel()">Cancel</button>
            </div>
        </mat-step>

    </mat-vertical-stepper>
</form>

<ng-template #dialogRef>
    Is this correct?
    <app-view-surgical-pathology-template 
        [surgicalPathology]="this.surgicalPathologyForm.value"
        [isEmbedded]="true">
    </app-view-surgical-pathology-template>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial
            (click)="onConfirm()">Confirm</button>
    </mat-dialog-actions>
</ng-template>